.trending-color-palettes {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .palettes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 100px;
  }

  .trending-color-palettes h2{
    text-align: center;
    font-size: 55px;
  }
  
  .palette {

    padding: 10px;
  }
  
  color-example {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .colors {
    display: flex;
    justify-content: center;
  }
  


.color-box {
    width: 35px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: width 0.3s ease, height 0.3s ease; /* Add transition for width and height */
  }
  
  .color-box:hover {
    width: 100px; /* Increase width when hovered */
   
  }
  
  .color-box:hover + .color-box,
  .color-box:hover ~ .color-box {
    width: 30px; /* Decrease width of adjacent colors when hovered */
      }
      .color-value {
        display: none;

      }
      
      .color-box:hover .color-value {
        display: block;
      }