/* BlogHome.css */

/* General blog home container styles */
.blog-home-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding-top: 120px;

}

.blog-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-top: 80px;
  animation: fadeInUp 1s ease-in-out; /* Add animation properties */
}

/* Define the animation keyframes */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.button-container-blog {
  display: flex;
  flex-direction: row; /* Adjust for smaller screens */
  gap: 20px;
}

/* Blog home button styles */
.blog-home-button {
  margin-bottom: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  word-wrap: break-word; /* Added for text wrapping */
}

.blog-home-button:hover {
  background-color: #2980b9;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  .blog-home-button {
    font-size: 14px;
    padding: 8px 12px;
  }
}


/* Tags container styles */
.tags-container {
  margin-top: 20px;
}

.tags-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tags-container ul {
  list-style: none;
  padding: 0;
}

.tags-container li {
  margin-bottom: 5px;
}

/* Individual post container styles */
.posts-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow posts to wrap to the next line */
  gap: 20px;
}

/* Style for each post container */
.post-pair {
  width: calc(50% - 10px); /* 50% width with a gap of 20px */
  box-sizing: border-box;
}

/* Styling for the Post component */

/* Media Query for Small Screens */
@media (max-width: 767px) {
  .post-pair {
    width: 100%; /* Full width on smaller screens */
  }
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  max-height: 600px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.close-pop {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.pop-img{
  width: 100%;
}