.color-generator-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.color-generator {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  margin-top: 150px;
}

.color-title {
  border: solid 2px;
  border-radius: 15px ;
  margin-bottom: 10px;
  padding: 10px;
}

.color-preview {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.color-label {
  display: block;
  margin-bottom: 10px;

}

.alpha-label {
  display: none;
  margin-bottom: 10px;
}

.rgb-values {
  margin-bottom: 10px;
  
}

.copy-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.copy-button:hover {
  background-color: #0056b3;
}

.color-input {
  display: block;
   /* Add your styles here */
   width: 100px; /* Adjust width as needed */
   height: 200px; /* Adjust height as needed */
   border: none; /* Remove default border */
   cursor: pointer; /* Change cursor to pointer */
   outline: none;
   overflow: hidden;
   padding-block:0px ;
   padding-inline: 0;
   direction: rtl;

}


