/* HTMLCourses.css */

.container-courses {
   

    margin: 0 auto;
    padding: 20px;
  }
  
  .container-courses h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .courses-text{
    
  }
  .container-courses p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .container-courses ul {
  
    list-style-type: none;
    padding: 0;
  }
  
  .container-courses li {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  